* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #ff1a66;
  padding: 25px;
  text-align: center;
  font-size: 45px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
#t_nav {
  float: left;
  width: 20%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #ff99bb;
  padding: 20px;
}

/* Style the list inside the menu */
#t_nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 30px;
  width: 80%;
  height: 1000px;

  background: url(b5.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #ff4d88;
  padding: 10px;
  text-align: center;
  color: white;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 90%;
  height: 90%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 90%;
  height: 90%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #404040;
  color: white;
  transform: rotateY(180deg);
}

.grid-container {
  display: inline-grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */ 
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
} 
.banner {
  align-content: center;
  display: none;
  justify-content: center;
  width: 100%;
}

